body {
    /* Set line height to 1.5 times the font size
      and use the OS’s UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 60%;
    margin-inline: auto;
    --color-accent : #9cd8f8ee;
    

  } 

:root {
    color-scheme: light dark;
    
    
}
.color-scheme {
    /* position it, style it, etc. */
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    /* Add other styles as needed */
}
  
.color-scheme select {
    margin-left: 0.5rem;
    /* style the <select> element, if needed */
}
img {
    width: 60%;
    height: auto;
    margin-inline: auto;

}
nav{
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    
}
nav a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em; 
}

nav a.current{
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}

nav a:hover {
    flex: 1;
    text-decoration: none;
    border-bottom-color: var(--border-color);
    background-color: color-mix(in oklch, var(--color-accent), canvas 75%);
    text-align: center;
    padding: 0.5em; 
}

nav a.current:hover{
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
}
dl{
    /* Set the font for elements inside this container */
  font-size: 16px;
  
  /* Use CSS Grid for layout */
  display: grid;
  /* Create 4 equal-width columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Optional spacing between columns (and rows if they exist) */
  gap: 1rem;
  padding-bottom: 1em;
}
input{
    font-family: inherit;
}

textarea{
    font-family: inherit;
}

button{
    font-family: inherit;
}

form{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    
}
form label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}
form button{
    width: 100%;
    grid-column: 1 / -1;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em
}

.projects article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.projects h1{
    font-size: 400%;
}

.resume{
    display: flex;
    flex-direction: column;
}

.resume h2 {
    display: block;
    border-bottom: 2px solid black;
    padding-bottom: 5px; 
}

.resume section.EDUCATION{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
}

.resume section.EDUCATION h2{
    grid-column: span 2; grid-row: 1;
}

.resume section.EDUCATION p#University{
    grid-column: 1; grid-row: 2;
}

.resume section.EDUCATION p#date{
    grid-column: 2; grid-row: 2;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    time{
        margin-inline: 10px;
    }
}
.resume section.EDUCATION p#major{
    grid-column: 1; grid-row: 3;
    font-style: italic;
    color: grey;
    margin-top: 0px;
}

.resume{
    h2 {
        margin-bottom: 0px;
    }
    p {
        margin-top: 3px;
    }
    section.PROJECTS{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
        h2 {
            grid-column: span 2; grid-row: 1;
        }
        p#p1{
            font-weight: bold;
            grid-column: 1; grid-row: 2;
        }
        p#date1{
            grid-column: 2; grid-row: 2;
            display: flex;
            justify-content: flex-end;
        }
        p#p2 {
            grid-column: span 2; grid-row: 3;
        }
        p#p3 {
            font-weight: bold;
            grid-column: 1; grid-row: 4;
        }
        p#date2{
            grid-column: 2; grid-row: 4;
            display: flex;
            justify-content: flex-end;
        }
        p#p4 {
            grid-column: span 2; grid-row: 5;
        }
        p#p5 {
            grid-column: span 2; grid-row: 6;
        }
    }
}
