body {
    /* Set line height to 1.5 times the font size
      and use the OS’s UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 60%;
    margin-inline: auto;
    --color-accent : #9cd8f8ee;
    

  } 

:root {
    color-scheme: light dark;
    
    
}
.color-scheme {
    /* position it, style it, etc. */
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    /* Add other styles as needed */
}
  
.color-scheme select {
    margin-left: 0.5rem;
    /* style the <select> element, if needed */
}
img {
    width: 60%;
    height: auto;
    margin-inline: auto;

}
nav{
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    
}
nav a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em; 
}

nav a.current{
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}

nav a:hover {
    flex: 1;
    text-decoration: none;
    border-bottom-color: var(--border-color);
    background-color: color-mix(in oklch, var(--color-accent), canvas 75%);
    text-align: center;
    padding: 0.5em; 
}

nav a.current:hover{
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
}
dl{
    /* Set the font for elements inside this container */
  font-size: 16px;
  
  /* Use CSS Grid for layout */
  display: grid;
  /* Create 4 equal-width columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Optional spacing between columns (and rows if they exist) */
  gap: 1rem;
  padding-bottom: 1em;
}
input{
    font-family: inherit;
}

textarea{
    font-family: inherit;
}

button{
    font-family: inherit;
}

form{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    
}
form label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}
form button{
    width: 100%;
    grid-column: 1 / -1;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em
}

.projects article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.projects h1{
    font-size: 400%;
}

.resume{
    display: flex;
    flex-direction: column;
}

.resume h2 {
    display: block;
    border-bottom: 2px solid black;
    padding-bottom: 5px; 
}

.resume section.EDUCATION{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
}

.resume section.EDUCATION h2{
    grid-column: span 2; grid-row: 1;
}

.resume section.EDUCATION p#University{
    grid-column: 1; grid-row: 2;
}

.resume section.EDUCATION p#date{
    grid-column: 2; grid-row: 2;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    time{
        margin-inline: 10px;
    }
}
.resume section.EDUCATION p#major{
    grid-column: 1; grid-row: 3;
    font-style: italic;
    color: grey;
    margin-top: 0px;
}

.resume{
    h2 {
        margin-bottom: 0px;
    }
    p {
        margin-top: 3px;
    }
    section.PROJECTS{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
        h2 {
            grid-column: span 2; grid-row: 1;
        }
        p#p1{
            font-weight: bold;
            grid-column: 1; grid-row: 2;
        }
        p#date1{
            grid-column: 2; grid-row: 2;
            display: flex;
            justify-content: flex-end;
        }
        p#p2 {
            grid-column: span 2; grid-row: 3;
        }
        p#p3 {
            font-weight: bold;
            grid-column: 1; grid-row: 4;
        }
        p#date2{
            grid-column: 2; grid-row: 4;
            display: flex;
            justify-content: flex-end;
        }
        p#p4 {
            grid-column: span 2; grid-row: 5;
        }
        p#p5 {
            grid-column: span 2; grid-row: 6;
        }
    }
}

#projects-plot {
    max-width: 20em;
    margin-block: 2em;
  
    overflow: visible;
 }


.swatch {
    aspect-ratio: 1/1;
    width: 10px;
    height: 10px;
    background-color: var(--color);
    margin-inline: 5px;
}
.legend{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, auto));
    border-color: lightgray;
    border-style: solid;
    flex: 1;
}
.legend_item{
    margin-block: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
}

em{
    font-style: italic;
    color: grey;
    margin-inline: 3px;
}

.container{
    display: flex;
    gap: 5%;
    align-items: center;
}

.search_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
}

.searchBar{
    width: 90%;
    height: 50%;
    font-size: large;
}

&:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
}
path {
    transition: 300ms;
    cursor: pointer;
}

.selected {
    --color: rgb(237, 16, 245) !important;
  
    &:is(path) {
      fill: var(--color);
    }
  }

.gridlines {
    opacity: 20%;
}
dl.info{
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);;
    border-style: solid;
    transition-duration: 500ms;
    background-color: white;
    transition-property: opacity, visibility;
}

dl.info dt {
    font-weight: normal;
    margin: 5px;
}

dl.info dd {
    font-weight: bold;
    margin: 5px;
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
  }
.tooltip{
    position: fixed;
    top: 1em;
    left: 1em;
}
circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  circle:hover {
    transform: scale(1.5);
  }

  @keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
  }
  
  .selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }

  circle.selected {
    fill: pink;
  }

  dl.stats {
    display: grid;
    grid-template-columns: auto, 1fr;
  }